nav{
  position: fixed;
  bottom: 0; 
  width: 100%;
  padding: 20px;
  border-top: 1px solid grey;
  text-align: center;
  background-color: rgb(175,187,52);
}

span{
  width: 40px;
  padding: 20px;
}

a{
  text-decoration: none;
  color: white;
}
